h1 {
  margin-bottom: 40px;
}

table {
  border-spacing: 0;  /* need to figure out a way to adjoin adjacent cells so lines are 1px throughout */
}

th,
td {
  border: 1px solid black;
  padding: 4px;
}

thead th {
  font-size: 20px;
  padding: 8px;
}

#new-book-btn {
  margin-bottom: 14px;
}

#submit-modal,
#cancel-modal {
  margin-top: 10px;
}


.credit {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 40px;
  margin-bottom: 10px;
}
.credit a:hover {
  background-color: rgb(0, 128, 128, 0.25);
  outline-width: 2px solid rgb(0, 128, 128, 0.6);  /* border would change the size */
}
