* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* i just zapped everything, k? */
}

html {
  font-family: sans-serif;
}

.btn-add-book {
  width: 150px;
  height: 34px;
  margin: 20px auto;
}

.book-card {
  border: 1px solid gray;
  margin-bottom: 10px;
}